export(build.train.test.data)
export(determine.group.error.changes)
export(determine.group.members)
export(determine.group.scores)
export(get.auc)
export(group.lasso)
export(group.lasso.eval.parameters)
export(group.motifs)
export(run.clustering)
export(run.group.lasso)
export(run.seqGL)
export(run.seqGL.wrapper)
export(select.top.features)
import(Biostrings)
import(Matrix)
